##CAMBIAR A --> .env

NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=CLAVE
CLERK_SECRET_KEY=CLAVE
DATABASE_URL=TENER postgresql INSTALADO EN EL PC PARA PODER CORRERLO

# URLs de redirección después de acciones de autenticación
NEXT_PUBLIC_CLERK_SIGN_IN_URL=/pages/sign-in/[[...sign-in]]
NEXT_PUBLIC_CLERK_SIGN_UP_URL=/pages/sign-up/[[...sign-up]]
NEXT_PUBLIC_CLERK_AFTER_SIGN_IN_URL=/pages/dashboard
NEXT_PUBLIC_CLERK_AFTER_SIGN_UP_URL=/pages/dashboard